html, body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: Tahoma;
    font-size: 14px;
}
body::-webkit-scrollbar {
    width: 10px;
}
header {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
header > .logo > * {
    display: flex;
    justify-content: left;
    margin-left: 15%;
}
header > .logo > span:nth-of-type(1), container:nth-of-type(1) > .indexSub > span, container:nth-of-type(4) > div:nth-of-type(1) > span, container:nth-of-type(4) > .feedback > span {
    font-family: 'Smooch', cursive;
    font-size: 80px;
    color: #B86B77;
    text-shadow: -1px 0px 1px #EABFB9, 1px 0px 1px #EABFB9, 0px -1px 1px #EABFB9, 0px 1px 1px #EABFB9;
}
header > .logo > span:nth-of-type(2) {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 12px;
    margin-top: -25px;
}
.navIcon {
    position: fixed;
    top: 1%;
    right: 1%;
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
    color: #B86B77;
}
nav {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 100%;
    background: #EEE;
    transition: 0.5s;
    box-shadow: 0px 0px 5px #EEE;
    z-index: 2;
    box-sizing: border-box;
}
.toolbar {
    display: none;
}
nav > .toolbar > div:nth-of-type(1) {
    float: right;
    margin-right: 8%;
    margin-top: 4%;
    font-size: 30px;
    cursor: pointer;
    color: #B86B77;
}
nav > .toolbar > button {
    width: 80%;
    font-family: Tahoma;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    border: none;
    transition: all 0.5s;
    border-radius: 10px;
}
nav > .toolbar > button:Hover {
    box-shadow: inset 0px 0px 0px 1px gray;
}
nav > .toolbar > div:nth-of-type(1) {
    margin: 7%;
}
section {
    margin-top: 1%;
    box-sizing: border-box;
}
container:nth-of-type(1) .indexSub {
    position: absolute;
    margin-right: -25%;
    margin-top: 5%;
    z-index: 1;
    width: 100%;
    height: 600px;
    color: #FFF;
    text-shadow: 0px 0px 3px #000;
}
container:nth-of-type(1) .indexVid {
    width: 100%;
    height: 600px;
    overflow: hidden;
    box-shadow: 0px 15px 23px -15px #000;
    background-color: rgba(255,255,255,0.5);
}
container:nth-of-type(1) button {
    width: auto;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
    background: #ffffff;
    color: #ba707b;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
container:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: -3%;
}
#projects img {
    grid-column: span 1;
    width: 300px;
    height: 300px;
    transition: 0.5s;
    box-shadow: 0px 0px 0px 5px #FFF, 0px 0px 0px 6px #EEE;
    border-radius: 5px;
}
#projects img:Hover {
    box-shadow: -1px 0px 5px #eabfb9, 1px 0px 5px 3px #eabfb9, 0px -1px 5px #eabfb9, 0px 1px 5px #eabfb9;
    transition: 0.5s;
}
container:nth-of-type(3), container:nth-of-type(5) {
    margin-top: 3%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
container:nth-of-type(3) > div:nth-of-type(1) > span, container:nth-of-type(5) > div:nth-of-type(2) > span {
    display: block;
    font-family: 'Rubik Glitch', cursive;
    font-size: 80px;
    color: #B86B77;
    text-shadow: -1px 0px 1px #EABFB9, 1px 0px 1px #EABFB9, 0px -1px 1px #EABFB9, 0px 1px 1px #EABFB9;
}
@keyframes playShadow {
    0% {box-shadow:50px 30px 0px 5px #fbd2c0, -27px -17px 0px 5px #fff, -28px -23px 0px 22px #e7b8a4;}
    50% {box-shadow: -46px -40px 0px 5px #fbd2c0, 15px 5px 0px 5px #fff, 17px 7px 0px 22px #e7b8a4;}
    100% {box-shadow:50px 30px 0px 5px #fbd2c0, -27px -17px 0px 5px #fff, -28px -23px 0px 22px #e7b8a4;}
}
container:nth-of-type(3) div:nth-of-type(2) {
    width: 435px;
    height: 519px;
    background-image: url(assets/images/indeximg.jpg);
    background-size: 100% 100%;
    margin: 40px;
    box-shadow: 50px 30px 0px 5px #fbd2c0,
         -27px -17px 0px 5px #fff,
          -28px -23px 0px 22px #e7b8a4;
    animation: playShadow 8s infinite;
}
#banner {
    width: 700px;
    height: 450px;
    cursor: pointer;
}
container:nth-of-type(4) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: auto;
    background-color: #EEE;
    padding-bottom: 3%;
}
container:nth-of-type(4) > div:nth-child(1) {
    grid-column: span 4;
}
container:nth-of-type(4) > .feedback > div:nth-of-type(1) > i:nth-child(1) {
    font-size: 50px;
    color: #B86B77;
}
.stars > i {
    font-size: 20px;
}
container:nth-of-type(4) > .feedback > div {
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
container:nth-of-type(4) img {
    width: 250px;
    height: 250px;
    box-shadow: 0px 0px 3px 0px #000;
    margin: 10px;
}
container:nth-of-type(5) > div:nth-of-type(1) {
    width: 435px;
    height: 519px;
    background-image: url(assets/images/luxury.jpg);
    background-size: 100% 100%;
    margin: 40px;
    box-shadow: 50px 30px 0px 5px #fbd2c0,
         -27px -17px 0px 5px #fff,
          -28px -23px 0px 22px #e7b8a4;
    animation: playShadow 8s infinite;
}
.und {
    position: fixed;
    left: 1%;
    bottom: 1%;
}
.und > span > i {
    font-size: 30px;
    color: #B86B77;
    cursor: pointer;
    z-index: 1;
    margin: 5px;
    transition: 0.5s;
}
.und > span > i:Hover {
    text-shadow: -1px 0px 1px #EABFB9, 1px 0px 1px #EABFB9, 0px -1px 1px #EABFB9, 0px 1px 1px #EABFB9;
    transition: 0.5s;
}
footer > .copyrights {
    width: 100%;
    height: auto;
    background-color: #EEE;
    padding: 3% 0% 3% 0%;
    font-size: 16px;
    color: #B86B77;
    letter-spacing: 3px;
}
footer > .copyrights > p:nth-of-type(2) > a {
    color: #B86B77;
}

/* Responsive */
@media screen and (max-width: 1000px) {
    #projects {
        grid-template-columns: repeat(2, 1fr);
    }
    #projects img {
        width: 350px;
        height: 350px;
    }
    container:nth-of-type(1) .indexVid {
        height: auto;
    }
    #banner {
        margin-bottom: 3%;
        width: 90%;
    }
    container:nth-of-type(4) {
        grid-template-columns: repeat(2, 1fr);
        gap: 5%;
        padding-bottom: 18%;
    }
    container:nth-of-type(4) > .feedback > div {
        grid-column: span 2;
    }
    container:nth-of-type(4) > div:nth-child(1) {
        grid-column: span 2;
    }
    footer > .copyrights {
        padding: 3% 0% 6% 0%;
    }
}
@media screen and (max-width: 700px) {
    #projects {
        grid-template-columns: repeat(2, 1fr);
    }
    #projects img {
        width: 100%;
    }
    container:nth-of-type(1) .indexSub {
        display: none;
    }
    container:nth-of-type(1) .indexVid {
        height: auto;
    }
    #banner {
        margin-bottom: 3%;
        width: 90%;
    }
    container:nth-of-type(4) {
        grid-template-columns: repeat(1, 1fr);
        gap: 2%;
        padding-bottom: 50%;
    }
    container:nth-of-type(4) > .feedback > div {
        grid-column: span 1;
    }
    container:nth-of-type(4) > div:nth-child(1) {
        grid-column: span 1;
    }
    container:nth-of-type(4) img {
        width: 80%;
        height: 400px;
    }
    footer > .copyrights {
        padding: 3% 0% 6% 0%;
    }
}