html, body {
    margin: 0px;
    padding: 0px;
    text-align: center;
}
body::-webkit-scrollbar {
    width: 10px;
}
header {
    width: 100%;
    height: auto;
}
header > .logo > * {
    display: flex;
    justify-content: left;
    margin-left: 15%;
}
header > .logo > span:nth-of-type(1) {
    font-family: 'Smooch', cursive;
    font-size: 80px;
    color: #B86B77;
    text-shadow: -1px 0px 1px #EABFB9, 1px 0px 1px #EABFB9, 0px -1px 1px #EABFB9, 0px 1px 1px #EABFB9;
}
header > .logo > span:nth-of-type(2) {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 12px;
    margin-top: -25px;
}
.navIcon {
    position: fixed;
    top: 1%;
    right: 1%;
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
    color: #B86B77;
}
nav {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 100%;
    background: #EEE;
    transition: 0.5s;
    box-shadow: 0px 0px 5px #EEE;
    z-index: 2;
}
.toolbar {
    display: none;
}
nav > .toolbar > div:nth-of-type(1) {
    float: right;
    margin-right: 8%;
    margin-top: 4%;
    font-size: 30px;
    cursor: pointer;
    color: #B86B77;
}
nav > .toolbar > button {
    width: 80%;
    font-family: Tahoma;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    border: none;
    transition: all 0.5s;
    border-radius: 10px;
}
nav > .toolbar > button:Hover {
    box-shadow: inset 0px 0px 0px 1px gray;
}
container:nth-of-type(1) {
    
}